@import "import/normalize";
@import "import/typography";
@import "import/core";
@import "import/mixins";
@import "import/animation";
@import "import/ss-social";
@import "import/ss-standard";

$serif: "Sentinel","Times New Roman",Georgia,serif;
$sans: "Gotham",helvetica,arial,sans-serif;

$background-blue: rgba(3,53,85,1); /* #033555 */
$dark-blue: rgba(0,64,99,1); /* #004063 */
$light-blue: rgba(70,152,203,1); /* #4698cb */
$bright-blue: rgba(21,152,200,1); /* #1598c8 */
$text: darken(#fff, 15%);

@font-face{
    font-family: Sentinel;
    src: url('../webfonts/sentinel/Sentinel-Black.otf');
    src: url('../webfonts/sentinel/Sentinel-BlackItal.otf');
    src: url('../webfonts/sentinel/Sentinel-Bold.otf');
    src: url('../webfonts/sentinel/Sentinel-BoldItal.otf');
    src: url('../webfonts/sentinel/Sentinel-Book.otf');
    src: url('../webfonts/sentinel/Sentinel-BookItal.otf');
    src: url('../webfonts/sentinel/Sentinel-Light.otf');
    src: url('../webfonts/sentinel/Sentinel-LightItal.otf');
    src: url('../webfonts/sentinel/Sentinel-Medium.otf');
    src: url('../webfonts/sentinel/Sentinel-MediumItal.otf');
    src: url('../webfonts/sentinel/Sentinel-Semibold.otf');
    src: url('../webfonts/sentinel/Sentinel-SemiboldItal.otf');
}

@font-face{
    font-family: Gotham;
    src: url('../webfonts/gotham/GothamBlack-Italic.otf');
    src: url('../webfonts/gotham/GothamBlack.otf');
    src: url('../webfonts/gotham/GothamBold-Italic.otf');
    src: url('../webfonts/gotham/GothamBold.otf');
    src: url('../webfonts/gotham/GothamMedium-Italic.otf');
    src: url('../webfonts/gotham/GothamMedium.otf');
    src: url('../webfonts/gotham/GothamBook-Italic.otf');
    src: url('../webfonts/gotham/GothamBook.otf');
    src: url('../webfonts/gotham/GothamLight.otf');
    src: url('../webfonts/gotham/GothamLight-Italic.otf');
    src: url('../webfonts/gotham/GothamThin-Italic.otf');
    src: url('../webfonts/gotham/GothamThin.otf');
}





body{
    background: $background-blue;
    color: $text;
    font-family: $serif;
    font-weight: 100;
    &.impress-on-thanks{
        background: url('../images/thank-you.png') 50% 50% no-repeat;
        background-size: 100%;
    }
}

img{
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: $sans;
    text-transform: uppercase;
    font-weight: 100;
    span{
        font-style: italic;
    }
    &.serif{
        font-family: $serif;
        font-weight: 900;
    }
}
 p, a, h1, h2, h3, h4, h5, h6, span, ul, ol{
        &:not(.heading){
            opacity: 0;
        }
    } 
.active{
    p, a, h1, h2, h3, h4, h5, h6, span, ul, ol{
        &:not(.heading){
            opacity: 1;
            @include animate;
            @include delay;
            @include fadeInUp;
        }
    }  
}

.divider {
    width:500px;
    text-align:center;
}
.divider hr {
    width:40%;
    margin: 12px auto;
}
.left {
    float:left;
}
.right {
    float:right;
}
.block{
    display: block;
}
hr{
    margin: 20px 0;
    
}
.combo{
    line-height: 1;
    margin: 0;
}
.caption{
    display: block;
    width: 100%;
    text-align: center;
    line-height: 1;
    margin: 0 0 4px 0;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
}
.sans{
    font-family: $sans;
}
.serif{
    font-family: $serif;
}

#logo{
    @include ir;
    background: url('../images/logo.png') 50% 50% no-repeat;
    background-size: 100%;
    -webkit-transition: height 0.25s linear, width 0.25s linear, top 0.25s linear, left 0.25s linear;
    -moz-transition: height 0.25s linear, width 0.25s linear, top 0.25s linear, left 0.25s linear;
    transition: height 0.25s linear, width 0.25s linear, top 0.25s linear, left 0.25s linear;
    &.main{
        height: 50px;
        width: 50px;
        margin: 100px auto;
    }
    &.internal{
        height: 20px;
        width: 20px;
        position: absolute;
        top: 20px;
        left: 20px;
    }
}


.impress-supported .fallback-message {
    display: none;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.step {
    display: block;
    width: 800px;
    height: 800px;
    padding: 40px 60px;
    color: rgba(255,255,255,0.9);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    h1.large{
        font-size: 100px;
        text-align: center;
        &.semi{
            font-size: 120px;
        }
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

}

#hey{
    .first{
        font-size: 80px;
    }
}


#we-won{
    img{
        display: block;
        width: 500px;
        margin: 0 auto;
    }
}

#whats-the-point{
    background: rgba(0,0,0,0.4);
    text-align: center;
    p{
        font-family: $serif;
        font-size: 18px;
        font-weight: 100;
        font-style: italic;
    }
}

.the-points{
    -webkit-transition: background 1s linear;
    -moz-transition: background 1s linear;
    transition: background 1s linear;
    &.active{
        background: rgba(0,0,0,0.6);
        -webkit-transition: background 1s linear;
        -moz-transition: background 1s linear;
        transition: background 1s linear;
    }
    h1{
        font-size: 50px;
        span{
            font-family: $sans;
            font-size: 14px;
            font-weight: 100;
            display: block;
            margin-left: 20px;
            margin-bottom: 45px;
        }
    }
}


#thanks{
    .inner-container{
        position: relative;
        z-index: 999;
    }
    h1{
        line-height: 1;
        margin: 200px 0 0 0;
        font-size: 100px;
    }
    h1, p{
        text-align: center;
    }
    p{
        display: block;
        font-family: $sans;
        text-transform: uppercase;
        font-size: 12px;
        margin: 40px 0;
        opacity: 0.8;
    }
    ul{
        
    }
}